<!DOCTYPE html>
<html>

<head>
    <title>Code N' Chill</title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Code N' Chill - A place to code and chill with music and chat.">
    <meta name="author" content="Poyo!">
    <meta name="keywords" content="code, chill, music, chat, programming, coding, development">
    <link rel="icon" href="/images/favicon.png" type="image/png">
</head>

<body>