<%- include('header') %>
<div class="login-container">
    <script src="/socket.io/socket.io.js"
        integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <img src="/images/logo.png" alt="logo" class="logo">
    <h1>Welcome!</h1>
    <p>To start chilling, please choose an username. They don't get stored, so dw about it.</p>
    <input type="text" id="username" value="<%= typeof username !== 'undefined' ? username : Math.random().toString(36).substring(7) %>">
    <span id="error" style="color: red;"></span>
    <span id="available-username" style="color: green;"></span>
    <button id="enter" disabled="true">Checking Username</button>
    <script>
        var socket = io();
        var enter = document.getElementById('enter');
        var username = document.getElementById('username');
        enter.addEventListener('click', function () {
            if (username.value) {
                document.cookie = "username=" + username.value;
                window.location.href = '/';
            }
        });

        function checkUsername() {
            if (username.value) {
                socket.emit('checkUsername', username.value, function(isAvailable) {
                    var errorSpan = document.getElementById('error');
                    var availableUsernameSpan = document.getElementById('available-username');
                    if (isAvailable) {
                        availableUsernameSpan.textContent = 'Username is available!';
                        errorSpan.textContent = '';
                        enter.disabled = false;
                        enter.textContent = 'Start Chilling!';
                    } else {
                        if (!errorSpan) {
                            errorSpan = document.createElement('span');
                            errorSpan.id = 'error';
                            errorSpan.style.color = 'red';
                            username.parentNode.insertBefore(errorSpan, username.nextSibling);
                        }
                        errorSpan.textContent = 'Username is already taken. Please choose another one.';
                        availableUsernameSpan.textContent = '';
                        enter.disabled = true;
                        enter.textContent = 'Username Unavailable';
                    }
                });
            } else {
                enter.disabled = true;
            }
        }

        username.addEventListener('input', function () {
            enter.disabled = true;
            checkUsername();
        });

        username.addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                if (username.value) {
                    socket.emit('checkUsername', username.value, function(isAvailable) {
                        var errorSpan = document.getElementById('error');
                        var availableUsernameSpan = document.getElementById('available-username');
                        if (isAvailable) {
                            document.cookie = "username=" + username.value + "; path=/";
                            window.location.href = '/';
                        } else {
                            if (!errorSpan) {
                                errorSpan = document.createElement('span');
                                errorSpan.id = 'error';
                                errorSpan.style.color = 'red';
                                username.parentNode.insertBefore(errorSpan, username.nextSibling);
                            }
                            errorSpan.textContent = 'Username is already taken. Please choose another one.';
                            availableUsernameSpan.textContent = '';
                        }
                    });
                }
            }
        });

        setInterval(checkUsername, 2000);
    </script>
</div>
<%- include('footer') %>