:root {
    --primary: #6200ea;
    --secondary: #3700b3;
    --tertiary: #03dac6;
    --background: #121212;
    --background-medium: #212121;
    --background-light: #333;
}

@font-face {
    font-family: "DOSVGA";
    src: url("/fonts/Perfect DOS VGA 437 Win.ttf");
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: #e0e0e0;
    font-family: DOSVGA, Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    /* img size is 50x50 */
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADcSURBVHgB7dqhEYNAEIXhR4IDQwnUQBt4GCwUgEalD8DjGSyeElA0AViSuxkiUsG7zPvUzqr75+x667pe+DjPE1VVwSVt2yIIAjv793IcR2zbBpcMw4CyLO3sH8dhF13XwTXmzWEYIk1TeEmSXK79xK84jvHAn1AIG4WwUQgbhbBRCBuFsFEIG4WwUQgbhbBRCBuFsFEIG4WwUQgbhbBRCBuFsFEIG4WwUQib5zRNryiKsCwLXGSug5qmgW/unfI8x77v6PseLqnrGlmW2fl7r1UUBeZ5hkvMedPtDeLuNA1gqo2DAAAAAElFTkSuQmCC") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 4s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse 4s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse 4s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse 4s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-webkit-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@-o-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

.chat {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 25%;
    overflow: hidden;
    position: relative;
    background-color: var(--background);
    border-left: 1px solid var(--background-light);
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    text-wrap: wrap;
}

#messages li {
    padding: 8px;
    background-color: var(--background-light);
    border-bottom: 1px solid var(--primary);
}

#form {
    background: rgba(255, 255, 255, 0.1);
    padding: 3px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: DOSVGA;
    width: 100%;
    margin-inline: auto;
    flex-grow: 3;
    border-top: 3px dashed var(--secondary);
}

#input {
    border: 1px dashed var(--background-light);
    padding: 10px;
    width: 100%;
    margin-right: .5%;
    font-family: DOSVGA;
    background-color: var(--background-medium);
    color: #e0e0e0;
    border-radius: 5px;
}

#input:focus {
    outline: none;
}

#send {
    background: var(--primary);
    border: none;
    padding: 10px;
    color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
}

#send:hover {
    background: var(--secondary);
}

.player {
    background-color: var(--background-medium);
    color: #e0e0e0;
    text-align: center;
    margin-inline: auto;
    padding: 10px;
}

.player h1 {
    margin: 0;
    font-size: 2em;
    color: var(--primary);
    animation: pulse 5s infinite, charWave 5s infinite;
}

#progressBar {
    width: 100%;
    background-color: var(--background-light);
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    position: relative;
    cursor: none;
}

#progress {
    height: 100%;
    background-color: var(--primary);
    transition: width 0.3s ease;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes charWave {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}

.player p {
    margin: 10px 0;
    font-size: 1.2em;
}

.player span {
    font-weight: bold;
}

.player small {
    font-size: 0.8em;
    color: var(--tertiary);
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: auto 0;
    margin-inline: auto;
}

.totalUsers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    color: var(--primary);
}

.totalUsers > svg {
    margin: 0;
    cursor: pointer;
    height: 1em;
    width: 1em;
}