:root {
    --primary: #6200ea;
    --secondary: #3700b3;
    --tertiary: #03dac6;
    --background: #121212;
    --background-medium: #212121;
    --background-light: #333;
}

* {
    box-sizing: border-box;
}
body {
    background-color: var(--background);
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.chat {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 25%;
    overflow: scroll;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--background);
    border-left: 1px solid var(--background-light);
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 8px;
    background-color: var(--background-light);
    border-bottom: 1px solid var(--primary);
}

#form {
    background: rgba(255, 255, 255, 0.1);
    padding: 3px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-inline: auto;
    flex-grow: 3;
    border-top: 3px dashed var(--secondary);
}

#input {
    border: 1px dashed var(--background-light);
    padding: 10px;
    width: 100%;
    margin-right: .5%;
    background-color: var(--background-medium);
    color: #e0e0e0;
    border-radius: 5px;
}

#input:focus {
    outline: none;
}

#send {
    background: var(--primary);
    border: none;
    padding: 10px;
    color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
}

#send:hover {
    background: var(--secondary);
}