* {
    box-sizing: border-box;
}
body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 8px;
    margin-bottom: 10px;
    background-color: #1e1e1e;
    border-radius: 5px;
}

#form {
    background: rgba(255, 255, 255, 0.1);
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    margin-inline: auto;
}

#input {
    border: none;
    display: flex;
    flex-grow: 2;
    padding: 10px;
    min-width: 90%;
    width: 100%;
    margin-right: .5%;
    background-color: #333;
    color: #e0e0e0;
    border-radius: 5px;
}

#input:focus {
    outline: none;
}

#send {
    width: 9%;
    background: #6200ea;
    border: none;
    padding: 10px;
    color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
}

#send:hover {
    background: #3700b3;
}